<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Martijn_Blog::Blog"
             title="Blog"
             module="Martijn_Blog"
             sortOrder="20"
             resource="Magento_Backend::content" />

        <add id="Martijn_Blog::Post"
             title="Blog posts"
             module="Martijn_Blog"
             action="blog/blog/index"
             sortOrder="0"
             parent="Martijn_Blog::Blog"
             resource="Magento_Backend::content" />
    </menu>
</config>